<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tc.rewards.mapper.ArticleMapper">

	<select id="findArticleById" resultType="article" parameterType="String">
		select id,name,number,type_id typeId,exchange_id exchangeId
		,image,describes,exchangeScore
		from article
		where id=#{id}
	</select>

	<select id="insertArticleById" parameterType="article">
		insert into
		article(id,name,number,type_id,exchange_id,image,describes,exchangeScore)
		values(#{id},#{name},#{number},#{typeId},#{exchangeId},#{image},#{describes},#{exchangeScore})
	</select>

	<select id="deleteArticleById" parameterType="String">
		delete from article
		where id=#{id}
	</select>

	<select id="findAllArticle" resultType="article">
		select
		id,name,number,type_id typeId,exchange_id exchangeId
		,image,describes describes,exchangeScore
		from article
	</select>

	<select id="updateArticleById" parameterType="article">
		update article
		set 
		id=#{id},
		name=#{name},
		number=#{number},
		type_id=#{typeId},
		exchange_id=#{exchangeId},
		image=#{image},
		describes=#{describes},
		exchangeScore=#{exchangeScore}
		where id = #{id}
	</select>


</mapper>